.container-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  z-index: -1;
  overflow: hidden;
  background: black;
  /* background: url('../images/bg.png');
  background-position: center center;
  background-size: cover;
  filter: brightness(0.3); */
}

.item {
  transition: 1s linear;
  opacity: 0;
  background: #fff;
}

.white {
  opacity: 1;
}

.header {
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
}

.contact {
  overflow: hidden;
}

.contact,
.header-content {
  text-align: left;
  padding: 50px 0;
}

a {
  transition: .3s;
}

a:hover {
  text-decoration: underline
}

@media (max-width: 520px) {
  .container-bg {
    display: none;
  }

  .header p,
  .contact ul,
  .header h1,
  .contact h2 {
    text-shadow: none;
  }
}

.list {
  margin-top: 0;
}

.tag {
  width: 90px;
  max-width: 100%;
  margin-bottom: 50px;
}

.bg {
  width: 900px;
  max-width: 90%;
  margin-bottom: 50px;
  border: 20px solid white;
}

p,a {
  word-break: break-all;
}

.text-center {
  text-align: center;
}