* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.margin-10 {
  margin: 10px;
}

.margin-20 {
  margin: 20px;
}

.margin-30 {
  margin: 30px;
}

.margin-40 {
  margin: 40px;
}

.margin-50 {
  margin: 50px;
}

.padding-10 {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

.padding-30 {
  padding: 30px;
}

.padding-40 {
  padding: 40px;
}

.padding-50 {
  padding: 50px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-left-30 {
  margin-left: 30px;
}

.margin-left-40 {
  margin-left: 40px;
}

.margin-left-50 {
  margin-left: 50px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-right-30 {
  margin-right: 30px;
}

.margin-right-40 {
  margin-right: 40px;
}

.margin-right-50 {
  margin-right: 50px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-left-30 {
  padding-left: 30px;
}

.padding-left-40 {
  padding-left: 40px;
}

.padding-left-50 {
  padding-left: 50px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-right-30 {
  padding-right: 30px;
}

.padding-right-40 {
  padding-right: 40px;
}

.padding-right-50 {
  padding-right: 50px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.size {
  width: 1200px;
  max-width: 100%
}

.margin {
  margin: 0 auto
}

body {
  background: #000
}

a {
  text-decoration: none;
  color: #2605f0;
  transition: .1s
}

a:hover {
  color: #000
}

.header--block {
  width: 700px;
  max-width: 90%;
}

.header--block .name {
  font-size: 2rem;
  color: #2605f0;
  font-weight: 900;
}

.header--block .title {
  font-size: 4rem;
  color: #fff;
}

.header,
.creator {
  min-height: 100vh;
  width: 100%;
  padding: 100px 0 100px 0;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  /*border-bottom: 10px solid #2605f0*/
}

.header {
  z-index: 2
}

.creator--block {
  animation-name: creator;
  animation-duration: 7s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}


@keyframes creator {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

.creator--block span {
  font-size: 15rem;
  color: #fff;
  font-weight: 900;
  opacity: 0.03
}

.container--buttons {
  margin-top: 20px
}

.btn {
  width: 170px;
  text-align: center;
  border-radius: 30px;
  background: transparent;
  border: 1px solid #2605f0;
  font-size: 20px;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: .3s;
  cursor: pointer;
}

.btn:hover {
  background: #2605f0;
  color: #fff;
}

.flowzin {
  position: fixed;
  top: 20px;
  width: 50%;
  margin: 0 auto;
  height: 20px;
}

.flowzin .flow {
  width: 100px;
  height: 10px;
  background: #2605f0;
  border-radius: 20px;
}

.flowzin-left .flow {
  animation-name: flow;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

@keyframes flow {
  from {
    transform: translateY(100vh);
  }
}

.flowzin-top .flow {
  animation-name: flowTop;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-delay: .5s;
}

@keyframes flowTop {
  from {
    transform: translateY(-100vh);
  }
}

.flowzin-right .flow {
  animation-name: flowRight;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

@keyframes flowRight {
  from {
    transform: translateY(-100vh);
  }
}

.flowzin-right {
  right: 20px;
  width: 10px;
  height: 100vh;
  margin: none
}

.flowzin-left .flow,
.flowzin-right .flow {
  height: 100px;
  width: 10px;
}

.flowzin-left {
  left: 20px;
  width: 10px;
  height: 100vh;
  margin: none
}

.menu {
  position: fixed;
  top: 25px;
  right: 20px;
  z-index: 3;
  width: 30px;
  height: 20px;
  cursor: pointer;
  animation-name: showMenuHamburger;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-delay: 2.5s;

}

@keyframes showMenuHamburger {
  from {
    transform: translateX(100px)
  }
  to {}
}

.menu .item-menu {
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  background: #fff;
  border-radius: 3px;
  transition: .1s
}

.menu:hover .item-menu {
  background: #2605f0;
  transform: scale(1.1, 1.1);
}

.content {
  min-height: 100vh;
  box-sizing: border-box;
  background: #fff;
  z-index: 2
}

.content .head {
  /*position: fixed;*/
  box-sizing: border-box;
  padding: 30px;
  box-sizing: border-box;
  background: #fff;
  width: 100%;
  margin-bottom: 100px;
}

.content .head .name {
  font-size: 4rem;
  line-height: 50px;
  color: #000;
  font-weight: 900;
  margin-right: 20px;
}

.content .head .title {
  font-size: 2rem;
  color: #2605f0;
}

.blue {
  width: 100%;
  height: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #2605f0;
  z-index: 4;
  animation-name: bluezera;
  animation-duration: 1.5s;
  animation-fill-mode: backwards;
}

@keyframes bluezera {
  from {
    height: 100%
  }
  to {}
}


.item-menu-resume {
  background: #000!important
}

.menu:hover .item-menu-resume {
  background: #2605f0!important
}

.bg-color {
  background: #fff;
  overflow: hidden;

}

.creator-resume {
  z-index: 1
}

.creator-resume .creator--block span {
  color: #000!important;
  border-bottom: none!important;
  opacity: .08
}

.creator-resume {
  border-bottom: none!important;
  position: fixed;
}

.relative-head {
  position: relative;
  min-height: 250px;
}


.resume {
  padding: 30px;
  padding-top: 0;
  box-sizing: border-box;
}

.resume-left {
  margin-right: 100px;
  min-width: 260px;
}

.resume--block {}

.resume--block p {
  font-size: 16px;
  color: #949494
}

.resume--block .resume--block__title {
  margin-bottom: 20px;
}

.resume--block .resume--block__title h2 {
  font-size: 2rem
}

.animation-top {
  animation-name: showTop;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}

@keyframes showTop {
  from {
    transform: translateY(100vh);
    opacity: 0
  }
  to {}
}

.animation-right {
  animation-name: showRight;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}

@keyframes showRight {
  from {
    transform: translateX(-100vh);
    opacity: 0
  }
  to {}
}

.animation-left {
  animation-name: showLeft;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}

@keyframes showLeft {
  from {
    transform: translateX(100vh);
    opacity: 0
  }
  to {}
}

.animation-bottom {
  animation-name: showBottom;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}

@keyframes showBottom {
  from {
    transform: translateY(100vh);
    opacity: 0
  }
  to {}
}

.animation-delay-1 {
  animation-delay: 1s
}

.animation-delay-2 {
  animation-delay: 2s
}

.animation-delay-3 {
  animation-delay: 3s
}

.animation-delay-01 {
  animation-delay: 0.1s
}

.animation-delay-02 {
  animation-delay: 0.2s
}

.animation-delay-03 {
  animation-delay: 0.3s
}

.animation-delay-04 {
  animation-delay: 0.4s
}

.animation-delay-05 {
  animation-delay: 0.5s
}

.animation-delay-15 {
  animation-delay: 1.5s
}

.animation-delay-25 {
  animation-delay: 2.5s
}

.animation-delay-35 {
  animation-delay: 3.5s
}

.resume--block .container {
  border-bottom: 1px solid #fbfbfb;
  padding-top: 20px;
  padding-bottom: 20px
}

.resume--block .container {
  transition: .1s;
  padding-left: 20px;
  border-left: 5px solid #fff;
}

.resume--block .container:hover {
  border-left: 5px solid #2605f0;
}

.btn-space {
  margin-top: 10px;
  margin-bottom: 50px;
}

.btn-space .btn {
  background: #2605f0;
  color: #fff
}

.btn-space .btn:hover {
  background: #000;
  border-color: #000;
  color: #fff
}

@media screen and (max-width: 992px) {
  .creator--block span {
    font-size: 12rem;
  }
  .name {
    font-size: 3rem!important
  }
  .title {
    font-size: 1.8rem!important
  }
  .content .head {
    margin-bottom: 50px;
  }
  .resume--block .resume--block__title h2 {
    font-size: 1.5rem
  }
}

@media screen and (max-width: 768px) {
  .creator--block span {
    font-size: 10rem;
  }
  .flowzin {
    top: 10px;
  }
  .flowzin-right {
    right: 10px;
  }
  .flowzin-left {
    left: 10px;
  }
  .menu {
    top: 15px;
    right: 15px;
  }
  .name {
    font-size: 2.5rem!important
  }
  .title {
    font-size: 1.3rem!important
  }
  .content .head {
    margin-bottom: 30px;
  }
  .resume--block .resume--block__title h2 {
    font-size: 1.2rem
  }
  .resume--block p {
    font-size: 14px;
  }

}


@media screen and (max-width: 470px) {
  .resume-left {
    margin-right: 0!important
  }
  .creator--block span {
    font-size: 5rem;
  }
  .flowzin {
    top: 5px;
  }
  .flowzin-right {
    right: 5px;
  }
  .flowzin-left {
    left: 5px;
  }
  .menu {
    top: 10px;
    right: 10px;
  }

  .content .head {
    margin-bottom: 10px;
  }
  .resume--block .resume--block__title h2 {
    font-size: 1rem
  }
  .resume--block p {
    font-size: 12px;
  }

}
