---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
import Hero from '../components/Hero.astro';
import Skills from '../components/Skills.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Products from '../components/Products.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';

const skills = ['IA', 'TypeScript', 'JavaScript', 'HTML', 'CSS', 'React', 'Next', 'Angular', 'Vue', 'Nuxt', 'User Interface Design', 'User Experience Design', 'Tailwind', 'Flexbox', 'CSS Grid', 'Shadcn', 'Astro', 'GSAP', 'GreenSock', 'Animation', 'Design', 'Figma', 'XD', 'Framer', 'Responsive', 'Mobile', 'GIT', 'Ecommerce', 'Wordpress', 'Shopify', 'Nuvem Shop', 'AngularJS', 'SCSS', 'Prototype', 'Mockup', 'Web Design', 'Illustration', 'Photoshop', 'Illustrator', 'WYSIWYG'];

const career = [
  {
    date: 'Jan 2025 - Current',
    title: 'Software Engineer & UI/UX Designer',
    company: 'Serrabits',
    link: 'https://serrabits.com.br/',
    description: ['Desenvolvimento de novas soluções', 'Desenvolvimento de inovações', 'Realizaçao de testes e mockups para novas soluções', 'Atuando perto do time de Design'],
  },
  {
    date: 'Sep 2019 - Jan 2025',
    title: 'Software Engineer',
    company: 'Accountfy',
    link: 'https://accountfy.com/',
    description: ['Responsável pelo módulo de reports/notas explicativas', 'Desenvolvedor da plataforma de edição de documentos', 'Exportação de Documentos em PDF', 'Descoberta de novas tecnologias', 'Implementação de bibliotecas Spread Js, OnlyOffice', 'Revisor de Pull Requests padrão', 'Tech lead'],
  },
  {
    date: 'May 2018 - Aug 2019 · 1 yr 4 mos',
    title: 'Front-End Developer & UI/UX Designer',
    company: 'Serrabits',
    link: 'https://serrabits.com.br/',
    description: ['Desenvolvimento do site CorteCloud e HelloMob', 'Refatoração/criação de páginas e componentes', 'Criação de Design Tokens e Design System usado por todos produtos', 'Desenvolvimento de novas features', 'Identidade de novos produtos', 'Pesquisas de UX em campo'],
  },
  {
    date: 'Jan 2017 - Jan 2018 · 1 yr 1 mos',
    title: 'Front-End Developer & UI/UX Designer',
    company: 'Monk',
    link: 'https://agmonk.com/',
    description: [' Desenvolvimento de ecommerce', 'Desenvolvimento de sites e animações', 'Desenvolvimento de ferramentas internas', 'Desenvolvimento de artes para instagram e facebook', 'Desenvolvimento do EAD Minds'],
  },
  {
    date: 'Jun 2016 - Aug 2016 · 3 mos',
    title: 'Desenvolvedor web',
    company: 'Beeuz Produções Visuais',
    link: 'https://producoes.beeuz.com.br/',
    description: ['Desenvolvimento de E-Commerce', 'Desenvolvimento de Identidade de marcas', 'Desenvolvimento de sites', 'Desenvolvimento de Artes e Campanhas para Instagram e Facebook', 'Edição de fotos de produtos'],
  },
  {
    date: 'May 2015 - Jun 2016 · 1 yr 2 mos',
    title: 'Desenvolvedor web',
    company: 'WebSpace Marketing e Estratégias Digitais',
    link: 'https://www.linkedin.com/company/webspace-marketing-e-estrat%C3%A9gias-digitais/',
    description: ['Desenvolvimento de E-Commerce', 'Desenvolvimento de sites', 'Desenvolvimento de Artes e Campanhas para Instagram e Facebook', 'Edição de fotos de produtos'],
  },
];

const projects = [
  {
    name: 'Rica Seminovos',
    link: 'https://www.ricaseminovos.com/',
    title: 'Front-End · UI/UX Design',
    description: `E-commerce de venda de seminovos.`,
  },
  {
    name: 'Pixo',
    link: 'https://pixo.gus.vision/',
    title: 'Front-End · UI/UX Design',
    description: `Simulador de pixo.`,
  },
  {
    name: 'Gerador de ambiente 3D',
    link: 'https://fabrica-creator.vercel.app/',
    title: 'Front-End · UI/UX Design',
    description: `Gerador de ambiente 3D.`,
  },
  {
    name: 'Seotopper',
    link: 'https://seotopper.netlify.app/',
    title: 'Front-End · UI/UX Design',
    description: `Optimize your website's online presence with our intuitive and efficient tool. You can generate custom meta tags in seconds, ensuring your content is properly indexed and gains visibility in search engines.`,
  },
  {
    name: 'Font Viewer',
    link: 'https://font-viewer.vercel.app/',
    title: 'Front-End · UI/UX Design',
    description: `Explore your installed fonts with ease. Discover and visualize a variety of styles directly in your browser.`,
  },
  {
    name: 'Dress Code Curitiba',
    link: 'https://dresscodecuritiba.com.br/',
    title: 'Front-End · UI/UX Design',
    description: 'Alugue seu vestido de festa ideal em Curitiba. Grande variedade de estilos e tamanhos para todas as ocasiões. Garanta seu look perfeito!',
  },
  {
    name: 'Bichinhos',
    link: 'https://bichinhos.app/',
    title: 'Front-End · UI/UX Design',
    description: 'O jeito mais fofinho de adotar seu bichinho. Encontre bichinhos para adoção, ajude a encontrar bichinhos desaparecidos e mantenha seus bichinhos seguro.',
  },
  {
    name: 'Let me pay',
    link: 'https://letmepay.io/',
    title: 'Front-End · UI/UX Design',
    description: 'Pagamentos simplificados. Receba pagamentos e envie uma remessa utilizando nossas soluções.',
  },
  {
    name: 'Gus.vision',
    link: 'https://gus.vision/',
    title: 'Front-End · UI/UX Design',
    description: 'Correria desde 1996.',
  },
  {
    name: 'Númeric0',
    link: 'https://numeric0.com/',
    title: 'Front-End · UI/UX Design',
    description: 'Pensar, Desenhar, Desenvolver, Lançar, Repetir.',
  },
  {
    name: 'Lazy Days',
    link: 'https://lazy-days.netlify.app/',
    title: 'Front-End · UI/UX Design',
    description: 'Rain noise app for good sleep',
  },
  {
    name: 'Dr. Lucas Bittencourt',
    link: 'https://drlucasbittencourt.com.br/',
    title: 'Front-End · UI/UX Design',
    description: 'O melhor amigo da saúde do homem e de uma vida sexual mais saudável e ativa.',
  },
  {
    name: 'Design Tokens Generator',
    link: 'https://gustavoquinalha.github.io/design-tokens-generator/',
    title: 'Front-End · UI/UX Design',
    description: 'Design tokens are the minimum elements of the design system.',
  },
  {
    name: 'Sizify',
    link: 'https://gustavoquinalha.github.io/sizify/',
    title: 'Front-End · UI/UX Design',
    description: 'A tool for preview changes and test on multiple devices instantly.',
  },
  {
    name: 'Overleasy',
    link: 'https://gus.vision/overleasy/',
    title: 'Front-End · UI/UX Design',
    description: 'With overleasy you can view your posts, covers, profile photos and much more.',
  },
  {
    name: 'Compras Paraguai',
    link: 'https://www.comprasparaguai.com.br/',
    title: 'Front-End · UI/UX Design',
    description: 'Site de comparação de preços das lojas do Paraguai.',
  },
  {
    name: 'Jekyll Help Center Theme',
    link: 'https://gustavoquinalha.github.io/jekyll-help-center-theme/',
    title: 'Front-End · UI/UX Design',
    description: 'Simple and responsive Jekyll theme for help center.',
  },
  {
    name: 'cs2bombs',
    link: 'https://cs2bombs.com/',
    title: 'Front-End · UI/UX Design',
    description: 'Learn how to do all CS2 utilities.',
  },
];

const products = [
  {
    name: 'Boné Gus.vision - Preto',
    link: 'https://shop.gus.vision/produtos/bone-correria-desde-1996-preto/',
    price: '100',
    image: '/bone-preto.webp',
  },
  {
    name: 'Boné Gus.vision - Amarelo',
    link: 'https://shop.gus.vision/produtos/bone-correria-desde-1996-amarelo/',
    price: '100',
    image: '/bone-amarelo.webp',
  },
];
---

<Layout>
  <Menu />

  <div class="p-4 w-full flex flex-col max-w-4xl mx-auto">
    <Hero />
    <Skills items={skills} />
    <Experience items={career} />
    <Projects items={projects} />
    <Products items={products} />
    <Contact />
  </div>

  <Footer />
</Layout>
