---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
import Hero from '../components/Hero.astro';
import Skills from '../components/Skills.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Products from '../components/Products.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';

const skills = ['TypeScript', 'JavaScript', 'HTML', 'CSS', 'Angular', 'Vue', 'Nuxt', 'User Interface Design', 'User Experience Design', 'Tailwind', 'Flexbox', 'CSS Grid', 'Astro', 'GSAP', 'GreenSock', 'Animation', 'Design', 'Figma', 'XD', 'Framer', 'Responsive', 'Mobile', 'GIT', 'Ecommerce', 'Wordpress', 'Shopify', 'Nuvem Shop', 'AngularJS', 'SCSS', 'Prototype', 'Mockup', 'Web Design', 'Illustration', 'Photoshop', 'Illustrator', 'WYSIWYG', 'Document Editor', 'Rich Text Editing', 'Chat GPT'];

const career = [
  {
    date: 'Sep 2019 - Present · 4 yrs 11 mos',
    title: 'Software Engineer',
    company: 'Accountfy',
    link: 'https://accountfy.com/',
    description: ['Responsável pelo módulo de reports/notas explicativas', 'Descoberta de novas tecnologias', 'Tech lead'],
  },
  {
    date: 'May 2018 - Aug 2019 · 1 yr 4 mos',
    title: 'UI Designer & Front-End Developer',
    company: 'Serrabits',
    link: 'https://serrabits.com.br/',
    description: ['Refatoração de componentes', 'Criação de Design Tokens', 'Criação do Design System', 'Implementação do Design System', 'Desenvolvimento de novas features', 'Identidade de novos produtos', 'Desenvolvimento do site', 'Pesquisas de UX em campo'],
  },
  {
    date: 'Sep 2019 - Present · 4 yrs 11 mos',
    title: 'UI Designer & Front-End Developer',
    company: 'Monk',
    link: 'https://serrabits.com.br/',
    description: ['Desenvolvimento de ecommerce', 'Desenvolvimento de sites', 'Desenvolvimento de animações', 'Desenvolvimento de artes', 'Desenvolvimento do EAD'],
  },
];

const projects = [
  {
    name: 'Dress Code Curitiba',
    link: 'https://dresscodecuritiba.com.br/',
    title: 'Front-End · UI/UX Design',
    description: 'Alugue seu vestido de festa ideal em Curitiba. Grande variedade de estilos e tamanhos para todas as ocasiões. Garanta seu look perfeito!',
  },
  {
    name: 'Bichinhos',
    link: 'https://bichinhos.app/',
    title: 'Front-End · UI/UX Design',
    description: 'O jeito mais fofinho de adotar seu bichinho. Encontre bichinhos para adoção, ajude a encontrar bichinhos desaparecidos e mantenha seus bichinhos seguro.',
  },
  {
    name: 'Let me pay',
    link: 'https://letmepay.io/',
    title: 'Front-End · UI/UX Design',
    description: 'Pagamentos simplificados. Receba pagamentos e envie uma remessa utilizando nossas soluções.',
  },
  {
    name: 'Gus.vision',
    link: 'https://gus.vision/',
    title: 'Front-End · UI/UX Design',
    description: 'Correria desde 1996.',
  },
  {
    name: 'Númeric0',
    link: 'https://numeric0.com/',
    title: 'Front-End · UI/UX Design',
    description: 'Pensar, Desenhar, Desenvolver, Lançar, Repetir.',
  },
  {
    name: 'Seotopper',
    link: 'https://seotopper.netlify.app/',
    title: 'Front-End · UI/UX Design',
    description: 'Complete SEO generator with all meta-tags including JSON-LD, build your Seo in seconds.',
  },
  {
    name: 'Dr. Lucas Bittencourt',
    link: 'https://drlucasbittencourt.com.br/',
    title: 'Front-End · UI/UX Design',
    description: 'O melhor amigo da saúde do homem e de uma vida sexual mais saudável e ativa.',
  },
  {
    name: 'Design Tokens Generator',
    link: 'https://gustavoquinalha.github.io/design-tokens-generator/',
    title: 'Front-End · UI/UX Design',
    description: 'Design tokens are the minimum elements of the design system.',
  },
  {
    name: 'Sizify',
    link: 'https://gustavoquinalha.github.io/sizify/',
    title: 'Front-End · UI/UX Design',
    description: 'A tool for preview changes and test on multiple devices instantly.',
  },
  {
    name: 'Overleasy',
    link: 'https://gus.vision/overleasy/',
    title: 'Front-End · UI/UX Design',
    description: 'With overleasy you can view your posts, covers, profile photos and much more.',
  },
  {
    name: 'Jekyll Help Center Theme',
    link: 'https://gustavoquinalha.github.io/jekyll-help-center-theme/',
    title: 'Front-End · UI/UX Design',
    description: 'Simple and responsive Jekyll theme for help center.',
  },
  {
    name: 'cs2bombs',
    link: 'https://cs2bombs.netlify.app/',
    title: 'Front-End · UI/UX Design',
    description: 'Learn how to do all CS2 utilities.',
  },
];

const products = [
  {
    name: 'Boné Gus.vision - Preto',
    link: 'https://shop.gus.vision/produtos/bone-correria-desde-1996-preto/',
    price: '100',
    image: '/bone-preto.webp',
  },
  {
    name: 'Boné Gus.vision - Amarelo',
    link: 'https://shop.gus.vision/produtos/bone-correria-desde-1996-amarelo/',
    price: '100',
    image: '/bone-amarelo.webp',
  },
];
---

<Layout>
  <Menu />

  <div class="p-4 w-full flex flex-col max-w-4xl mx-auto">
    <Hero />
    <Skills items={skills} />
    <Experience items={career} />
    <Projects items={projects} />
    <Products items={products} />
    <Contact />
  </div>

  <Footer />
</Layout>
