---

---

<div class="text-center w-full py-10 flex gap-4 flex-col items-center justify-center">
  <div class="text-zinc-300 text-sm">©2024 • <a href="https://github.com/gustavoquinalha" target="_blank" class="text-zinc-300 hover:text-zinc-50 hover:underline underline-offset-1">Gustavo Quinalha</a> — All rights reserved.</div>
</div>
