---
import '@fontsource/geist-mono';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Gustavo Quinalha - Software Engineer & UI/UX Designer</title>

    <meta name="title" content="Gustavo Quinalha - Software Engineer & UI/UX Designer" />
    <meta name="description" content="I have more than 15 years of experience as a Front-End Developer, focused on UI/UX. Passionate about creating beautiful and functional interfaces. Crazy about JavaScript and CSS, especially in animations that make user interaction better." />
    <meta name="theme-color" content="#09090b" />
    <meta name="color-scheme" content="dark" />
    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="Gustavo Quinalha - Software Engineer & UI/UX Designer" />
    <meta property="og:description" content="I have more than 15 years of experience as a Front-End Developer, focused on UI/UX. Passionate about creating beautiful and functional interfaces. Crazy about JavaScript and CSS, especially in animations that make user interaction better." />
    <meta property="og:type" content="website" />
    <meta property="og:image:alt" content="Gus logo" />
    <meta property="og:image" content="https://gus.vision/gus.webp" />
    <meta property="og:url" content="https://gus.vision/" />
    <meta property="fb:app_id" content="739468404727575" />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://gus.vision/" />
    <meta property="twitter:title" content="Gustavo Quinalha - Software Engineer & UI/UX Designer" />
    <meta property="twitter:description" content="I have more than 15 years of experience as a Front-End Developer, focused on UI/UX. Passionate about creating beautiful and functional interfaces. Crazy about JavaScript and CSS, especially in animations that make user interaction better." />
    <meta property="twitter:image" content="https://gus.vision/gus.webp" />
  </head>
  <body class="w-full content p-2 md:p-4 lg:p-10 flex flex-col gap-4 md:gap-10 bg-zinc-950 relative mb-20 md:mb-0" id="about">
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: dark;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Geist Mono', monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }

  html {
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  #menu ::-webkit-scrollbar {
    @apply w-0 h-0 rounded-xl;
  }
</style>

<script></script>
